body {
    font-size: 28px;
    max-width: 1600px;
    background-color: #333;
    margin-right: auto;
    margin-left: auto;
}
section {
    min-height: 100vh;
}

#home-l {
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
}

#home-r {
    background-repeat: no-repeat;
    background-size: cover;
    /* min-width: 100vh; */
}

.coogs-bg {
    background-size: cover;
}

.book-bg {
    background-size: cover; 
}

/*navigation arrow */

          button.arrow-button {
            z-index: 1;
            position: fixed;
            top: 85%;
            transform: translateY(-5%);
            font-size: 2em;
            padding: 15px;
            background-color:rgba(3,3,3,.2);
            color: white;
            border: none;
            cursor: pointer;
          }
          
          #left-arrow {
            right: 90;
          }
          #right-arrow {
            right: 0;
          }

          #up-arrow {
            right: 90;
          }
          #down-arrow {
            right: 0;
          }

          button.arrow-button:hover {
            background-color:rgba(3,3,3,.3);
            transform: scale(.9);
            animation: pulse 0.9s infinite;
          }

    @keyframes pulse {
      from {
        transform: scale(1);
        }
        to {
        transform: scale(1.1);
      }
    }

/* arrow end */

.bg-cougar-yellow {
    background-color: #FFF9D9;
}

.bg-life {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: top;
}

.bg-life-2 {
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
  background-position: top 10%;
}

.bg-over {
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh ;
}

.bg-enjoy {
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  height:100vh ;
}

.bg-over-700 {
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height:100vh ;
}

.text-cougar-red {
    color: #c8102e;
}
.full-height {
    min-height: 100vh;
}

.crimson {
    font-family: 'Crimson', Arial, Helvetica, sans-serif ;
    color: #707070;
}

.league {
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    color: #640817;
    line-height: 84px;
}

.milo {
    font-family: 'Milo', Arial, Helvetica, sans-serif;
    color: #888b8d;
}
.border-top-red {
    border-top: 12px solid#c8102e; min-height: 100%!important;
}

.border-left {
    border-left: 12px solid#c8102e; min-height: 100%;
}

.border-right {
    border-right: 12px solid#c8102e; min-height: 100%;
}

.animate__animated.animate__delay-point5s {
    -webkit-animation-delay:0.5s;
    animation-delay:0.5s;
    -webkit-animation-delay:var(--animate-delay-point-5);
    animation-delay:var(--animate-delay-point-5)
   }

.animate__animated.animate__delay-point6s {
-webkit-animation-delay:0.6s;
animation-delay:0.6s;
-webkit-animation-delay:var(--animate-delay-point-6);
animation-delay:var(--animate-delay-point-6)
}

.animate__animated.animate__delay-point7s {
-webkit-animation-delay:0.7s;
animation-delay:0.7s;
-webkit-animation-delay:var(--animate-delay-point-7);
animation-delay:var(--animate-delay-point-7)
}

.animate__animated.animate__delay-point8s {
-webkit-animation-delay:0.8s;
animation-delay:0.8s;
-webkit-animation-delay:var(--animate-delay-point-8);
animation-delay:var(--animate-delay-point-8)
}

.animate__animated.animate__delay-point9s {
    -webkit-animation-delay:0.9s;
    animation-delay:0.9s;
    -webkit-animation-delay:var(--animate-delay-point-9);
    animation-delay:var(--animate-delay-point-9)
    }

.animate__animated.animate__delay-point11s {
    -webkit-animation-delay:1.1s;
    animation-delay:1.1s;
    -webkit-animation-delay:var(--animate-delay-point-11);
    animation-delay:var(--animate-delay-point-11)
    }

:root {
    --animate-delay-point-5: 0.5s;
    --animate-delay-point-6: 0.6s;
    --animate-delay-point-7: 0.7s;
    --animate-delay-point-8: 0.8s;
    --animate-delay-point-9: 0.9s;
    --animate-delay-point-11: 1.1s;
  }

.row {
--bs-gutter-x:0rem;
}

p.counter {
    font-size: 67px;
}
@media only screen and (max-width: 600px) {
    p.counter {
        /* font-size: 60px!important; */
  }
}

.video {
    position: relative;
    background-color: #c8102e;
    min-height: 354px;
    width: 100%;
    overflow: hidden;
  }
  
  .video video {
    position: absolute;
    top: 102;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .video .video-text {
    position: relative;
    z-index: 1;
    padding:30px;
  }

  a {
    color: #c8102e;
  }

  a:hover {
    color:  #960C22;
  }

  a:visited {
    color:  #640817;
  }


  /* CSS for section container */
  .section-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  
  /* CSS for individual sections */
  .horizontal-section {
    flex-shrink: 0;
    width: 100vw;
    max-width: 1600px;
    min-height: 100vh;
    scroll-snap-align: start;
    align-items: center;
    position: relative;
  }
  
/* CSS for navigation buttons 
.horizontal-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  } 

  
  .horizontal-nav-button:hover {
    background-color: black;
    color: #333;
  }
  */
  .hor-nav {
    position:absolute;
    cursor: pointer;
    background: rgba(255,255,255,0.5);
    top: 50%;
  }

  .hor-nav:hover {
    transform: scale(1.1);
  }
.hor-nav.left {
    left: 20px;
    color: #c8102e;
    font-size: 2em;
  }
  
.hor-nav.right {
    right: 20px;
    color: #c8102e;
    font-size: 2em;
  }
  
  h1.crimson {
    font-size: 3em;
  }

  h1.league {
    font-size: 3em;
  }

  @media screen and (max-width: 600px) {
    h1.crimson {
      font-size: 2.2em;
    }
  }
  @media screen and (max-width: 1214px) {
    h1.league {
      font-size: 2.2em;
    }
  }

  @media screen and (max-width: 600px) {
    h1.league {
      font-size: 2em;
    }
  }